.button {
	display: flex;
	align-items: center;
	text-align: left;
	min-width: 276px;
	min-height: 50px;
	border-radius: 2px;
	padding: 0 18px;

	&:hover {
		opacity: 0.8;
		transition: opacity 0.2s ease-in-out;
	}

	&:not(:last-child) {
		margin-bottom: 12px;
	}

	&__icon {
		max-width: 20px;
		margin-right: 22px;
	}
}